<template>

    <div class="row">

        <form @submit.prevent="save" @keydown="form.onKeydown($event)">

            <div class="col-lg-12">

                <!-- Defini na condição, qual o passo que esses inputs fazem parte -->
                <div class="row" v-if="step === 1">
                    <div class="col-lg-12">
                        <h3>
                            Sou etapa 1, pra estilizar, basta entrar no resources/views/user/user.form.vue
                        </h3>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group" :class="{'has-error': form.errors.has('name')}">
                            <label>
                                Nome
                            </label>

                            <input type="text" class="form-control"
                                   v-model="form.name" />

                            <has-error :form="form"
                                       field="name"></has-error>
                        </div>
                    </div>

                    <div class="col-lg-4">

                        <div class="form-group">
                            <label>
                                E-mail
                            </label>

                            <input type="email" class="form-control"
                                   v-model="form.email" />

                            <has-error :form="form"
                                       field="email"></has-error>
                        </div>

                    </div>

                    <!-- ao clicar no botão para ir pro próximo passo, verifica se está válido -->
                    <button type="button" @click="validateFirstStep"
                            class="btn btn-success btn-xs">
                        Continuar
                    </button>
                </div>

                <!-- Defini na condição, qual o passo que esses inputs fazem parte -->
                <div class="row" v-if="step === 2">
                    <div class="col-lg-12">
                        <h3>
                            Sou etapa 2, pra estilizar, basta entrar no resources/views/user/user.form.vue
                        </h3>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group" :class="{'has-error': form.errors.has('name')}">
                            <label>
                                Título
                            </label>

                            <input type="text" class="form-control"
                                   v-model="form.title" />

                            <has-error :form="form"
                                       field="title"></has-error>
                        </div>
                    </div>

                    <div class="col-lg-4">

                        <div class="form-group">
                            <label>
                                Descrição
                            </label>

                            <textarea class="form-control" v-model="form.description"></textarea>

                            <has-error :form="form"
                                       field="description"></has-error>
                        </div>

                    </div>

                    <!-- ao clicar no botão para ir pro próximo passo, verifica se está válido -->
                    <button type="submit" class="btn btn-success btn-xs" :disabled="form.busy">
                        Salvar
                    </button>
                </div>

                <div class="row">
                    <div class="col-lg-12" v-if="step === 'end'">
                        <h3>Obrigado</h3>
                    </div>
                </div>

            </div>

        </form>

    </div>

</template>

<script>

    import Vue from 'vue'
    import { Form, HasError, AlertError } from 'vform'

    Vue.component(HasError.name, HasError);
    Vue.component(AlertError.name, AlertError);

    export default {
        name: "user-form",
        data () {
            return {
                // passo em que vai iniciar
                step: 1,
                form: new Form({
                    name: "",
                    email: ""
                })
            }
        },
        methods: {
            validateFirstStep() {
                this.form.post('api/user/step/first')
                    .then((r) => {
                        this.step = 2;
                    });
            },
            save () {
                this.form.post('api/user/create')
                    .then((r) => {
                        console.log('cadastro-efetuado com sucesso');
                        this.step = 'end';
                    });
            }
        }
    }
</script>

<style scoped>
.help-block {
    display: block;
}
</style>